html{
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
h2{
  font-size: 3rem;
  font-weight: bold;
}
@media screen and (max-width:600px){
  html {
    overflow: scroll;
  }
}

img{
  min-height: 32px;
}
/*Utilities*/
.container{
  margin:auto;
  width: 100%;
}

@font-face {
  font-family: "bio",serif;
  src:url(../fonts/BioRhyme-Bold.ttf);
}

@font-face {
  font-family: "space",monospace;
  src: url(../fonts/SpaceMono-Regular.ttf);
}

.Bio{
  font-family: "bio",sans-serif;
  font-weight: bold;
}

.Space{
  font-family: "space",monospace;
}
h3{
  font-family: "bio",sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/*navigation*/
header{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  background-color: #00211D;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav span{
  font-family: "bio",serif;
  font-weight: bold;
  font-size: 2rem;
  color: #62B6AD;
}
nav i{
  color: #00CFB9;
  font-style: normal;
  font-size: 2rem;
}
nav img{
  height: 3rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
}
nav div{
  display: flex;
  align-items: center;
}
ul{
  display: block;
  margin-right: 1.5rem;
}

ul li{
  display: inline;
  padding: 0 1rem;
}

.menu ul li:hover{
  background-color: gray;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}

.mobile{
  display: none;
}
/*Media Screen for navigation*/
@media screen and (max-width:600px){
.desktop{
  display: none;
}

nav img{
  height: 6rem;
}
.mobile{
  display:flex;
  height: 4rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  }
  header{
    height: 4rem;
    width: 100%;
  }
}

/*hero section*/
.banner{
  display: flex;
  align-items: center;
  background-color: #1D6A62;
  color: white;
  width: 100%;
}

.banner img{
  width: 60%;
  padding: 2rem 1.5rem;
  margin-top: 2rem;
}

.headline{
  line-height: 1.5;
  font-family: "space",monospace;;
}
.headline h1{
  font-weight: bold;
  font-size: 3.5rem;
  word-spacing: 3px;
}


button{
  padding: 8px;
  color: white;
  background-color: black;
  width: 60%;
  border-style: none;
  margin-top: 2rem;
  transition: background-color 750ms ease 0.10s;
}

button:hover{
  background-color: #597B77;
}

button:active{
  color: red;
}

/*Main Banner Media Screen*/
@media screen and (max-width:600px){
  .banner{
    display: block;
    width: 100%;
  }

  .banner img{
    width: 100%;
    padding-left: 0;
  }
  .headline h1{
    font-size: 1.5rem;
    word-spacing: 3px;
  }
  .headline p{
    font-size: 1rem;
  }
  button{
    width: 45%;
    margin-bottom: 2rem;
  }

}

/*Information*/
.information{
  background-color: #00100F;
}
.main{
  display: flex;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  background-color: #00100F;
  color: white;
}
.media-content{
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  background-position: center;
  border-right: 1px solid #587E7A;
}
@media screen and (max-width:600px){
  html{
    font-size: 18px;
  }
  .media-content{
    display: none;
  }
}

.main h2{
  margin: 2rem 0 1.5rem 0;
}

.main span{
  font-size: 0.8rem;
  display:block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: 900;
}

.horizontal-box{
  display: flex;
  align-items: center;
  word-wrap: break-word;
  width: 93%;
  padding: 16px;
}
#mobile-img{
  display: none;
}

@media screen and (max-width:600px){
  .desktop-image{
    display: none;
  }
  .horizontal-box{
    display: block;
    padding-left: 0;
    padding-top: 0;
    width: 100%;

  }

  .horizontal-box a{
    color:black;
  }

  #mobile-img{
    display: flex;
    align-items: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 1rem;
  }

}

.box-color{
  background-color: white;
  transition: width 1s;
}
.box-color:hover{
  width: 100%;
  background-color: #AA632F;
}

.horizontal-box a{
  color:blue;
}

.horizontal-box:nth-child(2n+1){
  background-color: #096200;
}
.horizontal-box:nth-child(2n+0){
  background-color: #B9050E;
}


.horizontal-box img{
  width: 35%;
  height: auto;
}
.descriptor{
  margin: 1rem;
  word-wrap: break-word;
  width: inherit;
}

h4{
  font-size: 1.5rem;
}
/*class offer Section*/
  .offer{
    font-size: 1rem;
    background-color: #009B8B;
    width: 100%;
  }
  .title{
  font-size: 2.5rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
  display: block;
}
.desktop-offer{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mobile-offer{
  display: none;
}
@media screen and (max-width:600px){
  .desktop-offer{
    display: none;
  }
  .mobile-offer{
    display: block;
    width: 100%;
  }
  .title{
    color: white;
  }

  .box{
    font-family: "space",monospace;
    color: white;
    width: auto;
    margin-bottom: .5rem;
    padding: 1rem 0 1.5rem 1rem;
  }
  .box h2{
    font-size: 1rem;
  }

  .box:nth-child(2n+1){
    background-color: #005F55;
  }
}



.class{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem 2rem 1rem;
  max-width: 27%;
  background-color: white;
}
.class img{
  width: 100%;
  height: auto;
}
.class-description{
  margin: 2rem 6.5rem 1.5rem 1rem;
}
.class-description p{
  margin-top: 0.5rem;
  text-align: left;
}

.class:nth-child(3n+1){
  margin-left: 4.5rem;
}
.class:nth-child(1n+2){
  font-family: "space",monospace;
  background-color: #063E00;
  font-weight: bold;
  color: white;
}
.class:nth-child(2n+1){
  font-family: "bio",sans-serif;
  background-color: #020A34;
  font-weight: bold;
  color: white;
}
.class:nth-child(4n+1){
  font-family: "space",sans-serif;
  background-color: #090956;
  font-weight: bold;
  color: white;
}
.class:nth-child(3n+0){
  font-family: "space",sans-serif;
  background-color: #1111AF;
  font-weight: bold;
  color: white;
}


/*Thesis Exhibit Section*/
.thesis{
  font-size: 1.5rem;
  background-color:#3B0837;
  color: white;
}

.thesis{
  border: none;
}
.exhibit{
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
}

@media screen and (max-width:600px){
  .news{
    display: none;
  }

  .exhibit{
    padding: 0;
  }
  .exhibit h2,p{
    display: none;
  }
video{
  display: flex;
}

}
/*footer*/
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 1rem 0 2rem 1.5rem;
  background-color: #009B8B;
  color: white;
  width: 100%;
}
@media screen and (max-width:600px){
  footer{
    padding-top: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
  }
  footer span{
    padding-left: 1.5rem;
  }

  footer ul li{
    display: none;
  }
}
